[submodule "rock_paper_scissors"]
	path = rock_paper_scissors
	url = https://github.com/HalfMoonRain/rock_paper_scissors.git
[submodule "router-example"]
	path = router-example
	url = https://github.com/HalfMoonRain/router-example.git
[submodule "weather-app"]
	path = weather-app
	url = https://github.com/HalfMoonRain/weather-app.git
[submodule "hnm-shopping"]
	path = hnm-shopping
	url = https://github.com/HalfMoonRain/hnm-shopping.git
[submodule "redux-practice"]
	path = redux-practice
	url = https://github.com/HalfMoonRain/redux-practice
	branch = main
[submodule "noona-phonebook"]
	path = noona-phonebook
	url = https://github.com/HalfMoonRain/noona-phonebook
	branch = main
[submodule "react-query"]
	path = react-query
	url = https://github.com/HalfMoonRain/react-query.git
	branch = main

[submodule "netflix-demo"]
	path = netflix-demo
	url = https://github.com/HalfMoonRain/netflix-demo.git
	branch = main